[Unit]
Description=PostgreSQL unit file

[Service]
ExecStart=/opt/opscode/embedded/bin/postgres -D /var/opt/opscode/postgresql/9.2/data
User=opscode-pgsql
Group=opscode-pgsql
Restart=always

[Install]
WantedBy=multi-user.target
