[Unit]
Description=initial configuration for redborder-manager

[Service]
ExecStart=/usr/lib/redborder/bin/rb_init_conf.sh
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
